body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#blocklyContainer {
    display: flex;
    flex: 1;
}

#blocklyDiv {
    flex: 1.8;
    height: 100%;
    overflow-y: auto;
}

#generatedCodeBlockly {
    flex: 1;
    overflow-y: auto;
    overflow-x: scroll;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    white-space: pre;
    background-color: #f0f0f0;
    margin: 0;
    position: relative;
    max-height: 100vh;
}

